body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
.form-box{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 50%;
    position: relative;
    /* margin: 0 auto; */
    /* margin-top: 50%;
    transform: translateY(-150%); */
    /* background-color: cadetblue; */
}
.img-cont{
   min-width: 10rem;
    max-width: 500px;
    max-height: 400px;
    overflow: hidden;
    text-align: center;
    /* background-color: aqua; */
    margin: 0 auto;
}
.img-cont img{
    width: 95%;
    position: relative;
    right: 3rem;
    /* overflow: hidden; */
}
form{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin:0 auto;
    /* background-color: blue; */

}
form input,form button{
    width: 90%;
    height: 2rem;
    margin: 1rem auto;

}
form button{
    width: 80%;
}
.msg{
    width: 80%;
    margin: 0 auto;
    max-width: 500px;
    min-height: 50px;
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    position: relative;
}
.msga{
   position: absolute;
   top: .5rem;
   right:.5rem ;
   color: brown;
}
.hidden{
    display: none;
}
@media (max-width:500px){
    .form-box{
        width: 100%;
    }
}
